.cabeçalho {
    background-color: #cebd8e;
    color: rgb(0, 0, 0);
    display: flex;
    padding: 24px;
    font-size: 20px;
    justify-content: space-around;
}
.button{
    position: relative;
    bottom: -450px;
    right: -500px;
    width: 1200px;
    height: 1200px;
    border-radius: 20%;
    background-color:black;
    margin-top: 80px ;
}
.texto-sobre-button{
    border: 0;
    background-color: rgb(68, 245, 245);
    color:white;
    border-radius: 20px;
    width: 100px;
}



*{
    margin: 0;
    padding: 0;
}
.cabeçalholista{ 
     position: relative;
     right: 300px;
     margin-top:  60px;
     font-size: 60px;
     width: -300px;
}


.cabeçalho-imagem {
    width: -8%;
    height: -8%;
}
.nosso-compromisso{
    background-image: linear-gradient(#cebd8e, #cebd8e);
    color: #000000;
    font-size: 25px;
    padding: 5px 250px;
}

.nosso-compromisso {
    padding: 24px 0px;
}

.cardápio {
    background-image: linear-gradient(#cebd8e, #cebd8e)
    color: white;
    font-size: 20px;
    padding: 0px 250px;
}

.cardápio-da-semana {
    padding: 24px 0px;
}

.galeria {
    background-image: linear-gradient(#cebd8e, #cebd8e);
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 0px 250px;
}

.fotos {
    width: 5%;
    height: 5%;
}
